EXPO_PUBLIC_API_BASE_URL=https://your-api.com

# for debugging only: don't use local server, but your PCs network http url
# make sure the port equals the port you specified in the server's .env
# (in nodejs-assets/nodejs-project/)
EXPO_PUBLIC_DEBUG_SERVER_URL=http://[your-ip]:2000

# for js/ts only development:
DISABLE_EXPO_PLUGINS=1
